a{
    text-decoration: none;
    color: #fff !important;
    &:hover{
    text-decoration: none !important;
        color: #fff !important;
    }
}
*{
    font-family: 'Quicksand', sans-serif;
}

$body-bg: #212121;
$body-color: #D5D5D5;

$theme-colors: (
    "primary": #2D2D2D,
    "secondary": #272727
);
@import "vendors";
